/*
 * Styles des éléments HTML
 */
*
{
    box-sizing: border-box;
}

a
{
    color : #1E593B;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.25s;
}
a:hover
{
    color: #339966;
}

body
{
    /* structure */
    /* border-top: 1.5em solid #EF4036; */

    /* presentation */
    font-family: 'Poppins', sans-serif;
}

fieldset
{
    /* structure */
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;

    /* presentation */
    border-color: #1E593B;
    border-radius: 6px;
}
fieldset legend
{
    /* structure */
    padding: 0 0.5em;

    /* presentation */
    color: #1E593B;
    font-weight: bold;
    font-size: 1.2em;
    cursor: default;
}

footer
{
    /* structure */
    margin-top: 3em;

    /* presentation */
    text-align: center;
}
footer .fa-heart
{
    color: #EF4036;
}

h1
{
    color: #EF4036;
    font-weight: bold;
    /* font-family: 'Oleo Script Swash Caps', cursive; */
    /* letter-spacing: 0.15em; */
    text-align: center;
}
h1 a,
h1 a:hover
{
    color: inherit;
}
h1 img
{
    margin-right: 0.5em;
    vertical-align: middle;
}

h2
{
    /* structure */
    margin: 1.5em 0;

    /* presentation */
    color: #1E593B;
}

html
{
    background: url('../img/background.png') repeat;
    overflow-y: scroll;
}


/*
 * Classes génériques
 */
.hidden
{
    display: none;
}

.large
{
    font-size: 125%;
    vertical-align: bottom;
}

.layout-center
{
    text-align: center;
}

.layout-right
{
    bottom: 0;
    position: absolute;
    right: 0;
}

.link-list,
.generic-form ul
{
    /* structure */
    padding-left: 0;
    position: relative;

    /* presentation */
    list-style-type: none;
}
.link-list li
{
    display: inline-block;
}

.small
{
    font-size: 75%;
    vertical-align: bottom;
}


/*
 * CSS de l'interface utilisateur
 */
.user-interface
{
    margin-bottom: 3em;
    margin-top: 3em;
}

.user-interface .welcome
{
    display: inline-block;
    margin: 0 1em;
}
.user-interface .welcome strong
{
    color: #EF4036;
}


/*
 * CSS des tableaux listant des aliments
 */
.meal-list img
{
    border-radius: 4px;
    opacity: 0.8;
    transition: opacity 0.25s;
    vertical-align: middle;
}
.meal-list img + em
{
    margin-left: 1em;
}
.meal-list p
{
    text-align: justify;
}
.meal-list tr:hover img
{
    opacity: 1;
}

/*
 * CSS de la page d'accueil
 */
.notice
{
    /* structure */
    margin-bottom: 2em;

    /* presentation */
    background-color: rgba(208, 255, 255, 0.33);
    border: 1px solid #339966;
    border-radius: 6px;
    color: #339966;
    font-size: 1.33em;
    text-align: center;
}


/*
 * CSS de la page de commande
 */
.basket-empty
{
    color: #339966;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

.meal-details
{
    /* structure */
    margin-right: 3em;
    margin-top: 1em;
    padding: 0.75em;

    /* presentation */
    background-color: #D0FFFF;
    border-radius: 4px;
    border: 1px solid #1E593B;
}
.meal-details:after
{
    clear: left;
    content: ' ';
    display: block;
}
.meal-details img
{
    float: left;
    margin-right: 1em;
}
.meal-details p
{
    /* structure */
    margin-top: 0;

    /* presentation */
    text-align: justify;
}


/*
 * CSS de la page de récapitulatif de la commande
 */
.invoice
{
    /* structure */
    margin: 2em 0 1em 50%;
    padding: 0 1em;

    /* presentation */
    background-color: #D0FFFF;
    border-radius: 4px;
    border: 1px solid #1E593B;
}
.invoice .city
{
    text-transform: uppercase;
}



/* _______CUSTOM_______*/
p {
    margin: 0;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
.wrap {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1em;
}
.wrap2 {
    width: 100%;
    max-width: 968px;
    margin: 0 auto;
    padding: 0 1em;
}
#l-header,
#l-footer {
    padding: 15px 0;
    z-index: 999;
    background: url('../img/background.png') repeat;
}
#l-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* border-bottom: 3px solid #EF4036; */
    -webkit-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.2); 
    box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.2);
}
#l-content {
    margin: 150px 0;
}
#l-footer {
    /* border-bottom: 3px solid #EF4036; */
    -webkit-box-shadow: 15px 0px 30px 0px rgba(0,0,0,0.2); 
    box-shadow: 15px 0px 30px 0px rgba(0,0,0,0.2);
}
.logo h1 span {
    font-size: .7em;
    font-weight: 400;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    margin-left: 2em;
}
.meals-links li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.meals-links li .img {
    width: 30%;
    margin-right: 50px;
}
.meals-links li .img img {
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}
.meals-links li .info {
    width: 70%;
}
h2 {
    text-align: center;
    font-size: 1.8em;
    margin: 2em 0;
    cursor: default;
}
span.price {
    margin-top: 20px;
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
}
form {
    text-align: center;
}
label {
    display: block;
}
input,
select {
    outline: none;
}
input[type='text'],
input[type='password'],
input[type='email'],
input[type='date'],
input[type='tel'],
input[type='time'],
select,
textarea {
    padding: 5px;
    border: 1px solid white;
    width: 350px;
}
input[type='time'] {
    width: 100px;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='date']:focus,
input[type='tel']:focus,
input[type='time']:focus,
select:focus,
textarea:focus {
    border: 1px solid #EF4036;
}
.champ {
    margin: 10px 0;
}
input.date {
    margin: 0;
}
.welcome span {
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    nav {
        flex-direction: column;
    }
    #l-content {
        margin-top: 190px;
    }
}
@media screen and (max-width: 700px) {
    .meals-links li {
        flex-direction: column;
    }
    .meals-links li .img {
        width: 50%;
        margin-right: 0;
        text-align: center;
    }
    .meals-links li .info {
        width: 100%;
        text-align: center;
    }
    input[type='text'],
    input[type='password'],
    input[type='email'],
    input[type='date'],
    input[type='tel'],
    textarea {
        width: 100%;
    }
    input.date {
        margin-top: 15px;
    }
}
@media screen and (max-width: 500px) {
    #l-content {
        margin-top: 300px;
    }
    .logo h1 span {
        display: block;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin-left: 0;
    }
    nav ul li:first-child {
        margin-bottom: 1em;
    }
}